[submodule "src/unittest-cpp"]
	path = src/unittest-cpp
	url = https://github.com/cwbaker/unittest-cpp.git
[submodule "src/lalr"]
	path = src/lalr
	url = https://github.com/cwbaker/lalr.git
[submodule "src/zlib"]
	path = src/zlib
	url = https://github.com/cwbaker/zlib.git
[submodule "src/math"]
	path = src/math
	url = https://github.com/cwbaker/math.git
[submodule "src/libpng"]
	path = src/libpng
	url = https://github.com/cwbaker/libpng.git
[submodule "src/jpeg"]
	path = src/jpeg
	url = https://github.com/cwbaker/jpeg.git
