[submodule "src/unittest-cpp"]
	path = src/unittest-cpp
	url = git@github.com:cwbaker/unittest-cpp.git
[submodule "src/lalr"]
	path = src/lalr
	url = git@github.com:cwbaker/lalr.git
[submodule "src/zlib"]
	path = src/zlib
	url = git@github.com:cwbaker/zlib.git
